{% extends "layout.html" %}

{% block titulo %}Novo Chamado - Central de Chamados{% endblock %}

{% block conteudo %}
        <div class="topo">

            <div>
                <h1>Novo Chamado</h1>
                <p>Preencha os dados para abrir um novo chamado.</p>
            </div>

        </div>


        <div class="detalhes-chamado">

            <form
                method="POST"
                action="/novo-chamado"
            >

                <label for="titulo">
                    Título
                </label>

                <input
                    type="text"
                    id="titulo"
                    name="titulo"
                    placeholder="Digite o título do chamado"
                    required
                >


                <label for="descricao">
                    Descrição
                </label>

                <textarea
                    id="descricao"
                    name="descricao"
                    placeholder="Descreva detalhadamente o problema"
                    required
                ></textarea>


                <label for="prioridade">
                    Prioridade
                </label>

                <select
                    id="prioridade"
                    name="prioridade"
                    required
                >
                    <option value="baixa">
                        Baixa
                    </option>

                    <option value="media" selected>
                        Média
                    </option>

                    <option value="alta">
                        Alta
                    </option>
                </select>


                <button type="submit">
                    Criar Chamado
                </button>

            </form>

        </div>
{% endblock %}
